<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FLAVOURS</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">      
    <link rel="stylesheet" href='../styles/flavours.css'>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/form.css">
    <script src="../src/index.js" defer></script>

</head>
<body>
    <div class="container-box">
        <header class="header">
            <div id="nav1">
                <h1><a href="index.html">The Cakery</a></h1>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="flavours.html">Specials</a></li>
                    <li id="menu"> <a href="javascript:void(0)">Menu</a>
                        <ul class="sub-menu-list">
                            <li class="sub-menu-list__item"><a href="./listing-normal.html">Basic</a></li>
                            <li class="sub-menu-list__item"><a href="./listing.html">Exotic</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="pricing.html">Price</a></li>
                    <li class="login-btn"><span class="login"></span></li>
                </ul>
            </div>
        </header>
        <section class="home-section">
            <div class="seperator white"></div>
            <div class="content-container">
                <div class="flavour-container">
                    <div class="flavours-bg"></div>
                    <div class="specials-content">
                        <p class="about-us__title">GUINNESS CHOCOLATE CUPCAKES WITH IRISH CREAM FROSTING</p>
                        <p class="about-us__subtitle">Chocolate Guinness cupcakes topped with Irish Cream buttercream</p>
                        <span class="celebrate-btn">Contact Us</span>
                    </div>
                </div>
            </div>
            <div class="seperator white"></div>
            <div class="content-container">
                <div class="flavour-container-2">
                    <div class="specials-content-2">
                        <p class="about-us__title">BANANA CHOCOLATE CHIP CAKE</p>
                        <p class="about-us__subtitle">Four layers of banana cake baked with chocolate chips, filled & frosted with cream cheese buttercream</p>
                        <span class="celebrate-btn">Contact Us</span>
                    </div>
                </div>
            </div>
            <div class="seperator white"></div>
            <div class="content-container">
                <div class="flavour-container-3">
                    <div class="specials-content">
                        <p class="about-us__title">CHERRY CRUMBLE PIE</p>
                        <span class="celebrate-btn">Contact Us</span>
                    </div>
                </div>
            </div>
            <div class="seperator white"></div>
            <div class="content-container">
                <div class="flavour-container-4">
                    <div class="specials-content-2">
                        <p class="about-us__title">COCONUT CREAM PIE</p>
                        <span class="celebrate-btn">Contact Us</span>
                    </div>
                </div>
            </div>
            <div class="seperator white"></div>
            <div class="content-container">
                <div class="flavour-container-5">
                    <div class="specials-content">
                        <p class="about-us__title">TREAT TRAY</p>
                        <p class="about-us__subtitle">48 assorted St. Patrick’s Day themed sugar cookies available by pre-order only</p>
                        <span class="celebrate-btn">Contact Us</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="seperator white"></div>
        <div class="blackout"></div>
    </div>
    <section class="footer">
            <div class="footer-div">
                <p class="social-media__title">Join Us</p>
                <ul class="social-media-links">
                    <li class="social-media__icon">
                        <a href="">
                            <img src="../assets/facebook.svg" alt="FaceBook" width="40" height="40" title="facebook">
                        </a>
                    </li>
                    <li class="social-media__icon">
                        <a href="">
                            <img src="../assets/instagram.svg" alt="InstaGram" width="40" height="40" title="instagram">
                        </a>
                    </li>
                    <li class="social-media__icon">
                        <a href="">
                            <img src="../assets/youtube.svg" alt="Youtube" width="40" height="40"  title="youtube">
                        </a>
                    </li>
                    <li class="social-media__icon">
                        <a href="">
                            <img src="../assets/twitter.svg" alt="Twitter" width="40" height="40" title="twitter">
                        </a>
                    </li>
                </ul>  
                <span class="copyright">
                    <b>The Cakery&nbsp;</b><sub><small>Since 1998</small></sub>
                </span>  
            </div>
        </section>
        <!-- =============================================================================================== -->
        <!-- Login Popup Code Starts Here / -->
        <div class="login-form">
                <div class="input-container">
                    <label class="input-label">
                        <span class="label">USERNAME</span>
                        <input type="text" name="Username" value="" id="userName" class="input-feild" placeholder="USERNAME">
                        <span class="error-text">Please enter valid Username</span>
                    </label>
                    <label class="input-label">
                        <span class="label">PASSWORD</span>
                        <input type="password" name="Password" value="" id="passWord" class="input-feild" placeholder="PASSWORD">
                        <span class="error-text">Please enter valid Password</span>
                    </label>
                    <input type="button" value="SUBMIT" class="celebrate-btn sm">
                </div>
            </div>
            <!-- Login Popup Code Ends Here -->
            <div class="blackout"></div>
</body>
</html>