<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />

    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge"
    />

    <link
        rel="stylesheet"
        href="../styles/header.css"
    />

    <link
        rel="stylesheet"
        href="../styles/footer.css"
    />

    <link
        rel="stylesheet"
        href="../styles/listing.css"
    />

    <link
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/form.css">
    <script src="../src/index.js" defer></script>
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div id="nav1">
            <h1><a href="index.html">The Cakery</a></h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="flavours.html">Specials</a></li>
                <li id="menu"> <a href="javascript:void(0)">Menu</a>
                    <ul class="sub-menu-list">
                        <li class="sub-menu-list__item"><a href="./listing-normal.html">Basic</a></li>
                        <li class="sub-menu-list__item"><a href="./listing.html">Exotic</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="pricing.html">Price</a></li>
                <li class="login-btn"><span class="login"></span></li>
            </ul>
        </div>
    </header>
    <div class="listing-container">
        <h2 class="listing-container__title">The Cakery : Exotic</h2>
        <p class="listing-container__subtitle">"Yes those amazing cakes you see on TV, really can taste as Good as they look"</p>
        <p class="listing-container__additional-text">The Cakery :Exotic is a range of premium cakes made with love and pure ingridients with special mixtures and blends of flavours one can't resist.</p>
        <ul class="cakes-list">
            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/1.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/2.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/3.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/4.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/5.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/6.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/7.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/8.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/9.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/10.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/11.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/12.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/13.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/14.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>

            <li class="cakes-list__item">
                <div class="card">
                    <div class="media-container">
                        <img
                            src="../assets/cakes/15.webp"
                            alt="cakes"
                            width="100%"
                            height="200;"
                        >
                    </div>

                    <div class="content-container">
                        <p class="card__title">Sprinkled Vanilla Joy</p>

                        <p class="card__subtitle">Earliest Delivery: Today</p>

                        <p class="card__price">$25</p>

                        <input
                            type="button"
                            value="Buy"
                            class="buy__button"
                        />
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="seperator white"></div>

    <section class="footer">
        <div class="footer-div">
            <p class="social-media__title">Join Us</p>

            <ul class="social-media-links">
                <li class="social-media__icon">
                    <a href="">
                        <img
                            src="../assets/facebook.svg"
                            alt="FaceBook"
                            width="40"
                            height="40"
                            title="facebook"
                        >
                    </a>
                </li>

                <li class="social-media__icon">
                    <a href="">
                        <img
                            src="../assets/instagram.svg"
                            alt="InstaGram"
                            width="40"
                            height="40"
                            title="instagram"
                        >
                    </a>
                </li>

                <li class="social-media__icon">
                    <a href="">
                        <img
                            src="../assets/youtube.svg"
                            alt="Youtube"
                            width="40"
                            height="40"
                            title="youtube"
                        >
                    </a>
                </li>

                <li class="social-media__icon">
                    <a href="">
                        <img
                            src="../assets/twitter.svg"
                            alt="Twitter"
                            width="40"
                            height="40"
                            title="twitter"
                        >
                    </a>
                </li>
            </ul>

            <span class="copyright">
                <b>The Cakery&nbsp;</b>

                <sub>
                    <small>Since 1998</small>
                </sub>
            </span>
        </div>
    </section>
    <!-- =============================================================================================== -->
        <!-- Login Popup Code Starts Here / -->
        <div class="login-form">
                <div class="input-container">
                    <label class="input-label">
                        <span class="label">USERNAME</span>
                        <input type="text" name="Username" value="" id="userName" class="input-feild" placeholder="USERNAME">
                        <span class="error-text">Please enter valid Username</span>
                    </label>
                    <label class="input-label">
                        <span class="label">PASSWORD</span>
                        <input type="password" name="Password" value="" id="passWord" class="input-feild" placeholder="PASSWORD">
                        <span class="error-text">Please enter valid Password</span>
                    </label>
                    <input type="button" value="SUBMIT" class="celebrate-btn sm">
                </div>
            </div>
            <!-- Login Popup Code Ends Here -->
            <div class="blackout"></div>
</body>
</html>