<footer>
    <section class="footer">
        <div class="footer-div">
            <p class="social-media__title">Join Us</p>
            <ul class="social-media-links">
                <li class="social-media__icon">
                    <a href="">
                        <img src="../images/facebook.svg" alt="FaceBook" width="40" height="40" title="facebook">
                    </a>
                </li>
                <li class="social-media__icon">
                    <a href="">
                        <img src="../images/instagram.svg" alt="InstaGram" width="40" height="40" title="instagram">
                    </a>
                </li>
                <li class="social-media__icon">
                    <a href="">
                        <img src="../images/youtube.svg" alt="Youtube" width="40" height="40"  title="youtube">
                    </a>
                </li>
                <li class="social-media__icon">
                    <a href="">
                        <img src="../images/twitter.svg" alt="Twitter" width="40" height="40" title="twitter">
                    </a>
                </li>
            </ul>  
            <span class="copyright">
                <b>The Cakery&nbsp;</b><sub><small>Since 1998</small></sub>
            </span>  
        </div>
    </section>
</footer>