<!DOCTYPE html>
<html>
    <% include ../partials/header %>
<body>
    <% include ../partials/navBar %>
    <section class="home-section">
        <div class="content-container-block">
            <div class="header-image">
                <div class="header-content">
                    <h1 class="header-text">Welcome to The Cakery</h1>
                    <h4 class="header-text1">We Bake Special Memories</h4>
                </div>
            </div>
        </div>
    </section>
    <div class="main-section">
        <p class="main-text">The Cakery was founded by a team of passionate and dedicated bakers who are committed in baking the most delicious cakes and pastries around. Using only the freshest ingredients we can find, you can be sure that you are served the best quality cake you can ever have.</p>
    </div>
    <div class="team-section">
        <div class="content-container-block">
            <div class="team-image">
                <div class="team-content">
                    <p>We have evolved to become one of a premium distributor and wholesaler for cakes and pastries to some well known resturants, cafes, supermart, hotels and bakery.</p>
                    <p>Our online store is a leading online shop in London providing cakes and gifts deliveries within London. We provide competitive prices, good after sales services and on-time delivery.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
</body>

</html>