<!DOCTYPE html>
<html>
<% include ../partials/header %>

    <body>
        <style>
            .faq-wrapper {
                width: 768px;
                display: block;
                margin: 30px auto;
                padding: 30px;
            }
            .faq-question {
                font-size: 16px;
                font-weight: 700;
            }
            .faq-answer {
                font-size: 16px;
                margin-top: 10px;
            }

            .faq-list-item {
                margin-bottom: 15px;
                padding: 10px;
                border: 2px solid #efefef;
                border-radius: 10px;
            }
        </style>
        <% include ../partials/navBar %>
           <div class="faq-wrapper">
               <ul class="faq-list">
                   <li class="faq-list-item">
                       <p class="faq-question">Question: When should I book my order with you? </p>
                       <p class="faq-answer">Answer: Wedding cakes are typically ordered around 2 week in advance. That allows ample time for consultation, tasting, and design. Early is always better as peak wedding season is April - September and dates book up quickly as we limit the number of orders per week to ensure you get the best work we can offer.
                        but we will do our best to accommodate last minute orders. </p>
                   </li>
                   <li class="faq-list-item">
                        <p class="faq-question">Question: Where are you located?</p>
                        <p class="faq-answer">Answer: We are located in Dublin Ireland. At this time we do not have a storefront. We produce all of our products in our home under the guidelines of the Michigan Cottage Food Laws.</p>
                    </li>
                    <li class="faq-list-item">
                        <p class="faq-question">Question: How much do your cakes cost?</p>
                        <p class="faq-answer">Answer: Many factors are involved in determining the cost of a Designed by Daddy cake. Every cake is custom made to order and priced individually. Cake pricing incorporates many variables including number of servings, complexity of design, and number of tiers. Custom cakes start at $7/serving.</p>
                    </li>
                    <li class="faq-list-item">
                        <p class="faq-question">Question: Do you bake from scratch?</p>
                        <p class="faq-answer">Answer: Yes, we bake all of our cakes and treats from scratch. Scratch cakes have a different texture than a box mix and are typically denser. Give our cakes a taste and you'll never go back to a box. Trust us.</p>
                    </li>
                    <li class="faq-list-item">
                        <p class="faq-question">Question: When should I book my order with you? </p>
                        <p class="faq-answer">Answer: Wedding cakes are typically ordered around 2 week in advance. That allows ample time for consultation, tasting, and design. Early is always better as peak wedding season is April - September and dates book up quickly as we limit the number of orders per week to ensure you get the best work we can offer.
                         but we will do our best to accommodate last minute orders. </p>
                    </li>
                    <li class="faq-list-item">
                         <p class="faq-question">Question: Where are you located?</p>
                         <p class="faq-answer">Answer: We are located in Dublin Ireland. At this time we do not have a storefront. We produce all of our products in our home under the guidelines of the Michigan Cottage Food Laws.</p>
                     </li>
                     <li class="faq-list-item">
                         <p class="faq-question">Question: How much do your cakes cost?</p>
                         <p class="faq-answer">Answer: Many factors are involved in determining the cost of a Designed by Daddy cake. Every cake is custom made to order and priced individually. Cake pricing incorporates many variables including number of servings, complexity of design, and number of tiers. Custom cakes start at $7/serving.</p>
                     </li>
                     <li class="faq-list-item">
                         <p class="faq-question">Question: Do you bake from scratch?</p>
                         <p class="faq-answer">Answer: Yes, we bake all of our cakes and treats from scratch. Scratch cakes have a different texture than a box mix and are typically denser. Give our cakes a taste and you'll never go back to a box. Trust us.</p>
                     </li>
               </ul>
           </div>
        <% include ../partials/footer %>
    </body>

</html>