<!DOCTYPE html>
<html>
    <% include ../partials/header %>
<body>
    <% include ../partials/navBar %>
    <section class="home-section">
        <div class="content-container-block">
            <div class="flavour-container-3">
                <div class="specials-content">
                    <p class="about-us__title">CHERRY CRUMBLE PIE</p>
                    <a href="/contact_us" title="contact us">
                        <span class="celebrate-btn">Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="seperator white"></div>
        <div class="content-container-block">
            <div class="flavour-container-2">
                <div class="specials-content-2">
                    <p class="about-us__title">BANANA CHOCOLATE CHIP CAKE</p>
                    <p class="about-us__subtitle">Four layers of banana cake baked with chocolate chips, filled & frosted with cream cheese buttercream</p>
                    <a href="/contact_us" title="contact us">
                        <span class="celebrate-btn">Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="seperator white"></div>
        <div class="content-container-block">
            <div class="flavour-container">
                <div class="flavours-bg"></div>
                <div class="specials-content">
                    <p class="about-us__title">GUINNESS CHOCOLATE CUPCAKES WITH IRISH CREAM FROSTING</p>
                    <p class="about-us__subtitle">Chocolate Guinness cupcakes topped with Irish Cream buttercream</p>
                    <a href="/contact_us" title="contact us">
                        <span class="celebrate-btn">Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="seperator white"></div>
        <div class="content-container-block">
            <div class="flavour-container-4">
                <div class="specials-content-2">
                    <p class="about-us__title">COCONUT CREAM PIE</p>
                    <a href="/contact_us" title="contact us">
                        <span class="celebrate-btn">Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="seperator white"></div>
        <div class="content-container-block">
            <div class="flavour-container-5">
                <div class="specials-content">
                    <p class="about-us__title">TREAT TRAY</p>
                    <p class="about-us__subtitle">48 assorted St. Patrick’s Day themed sugar cookies available by pre-order only</p>
                    <a href="/contact_us" title="contact us">
                        <span class="celebrate-btn">Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <% include ../partials/footer %>
</body>
</html>