body{
	font-family: 'Lato', sans-serif;
}

*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

#nav1{
	width: 100%;
	height: 70px;
	line-height:70px;
	background: #3fbfff;
}
#nav1 h1{
	float: left;
	font-size: 2.5em;
	margin-left: 15px;
}
#nav1 h1 a{
	text-decoration: none;
	color: white;
}
#nav1 ul{
	
	float: right;
	margin-right: 15px;
}
#nav1 ul li{
	display: inline-block;
    list-style-type: none;
    font-weight: 700;
    color: #fff;
}
#nav1 ul li a{
	text-decoration: none;
	color:white;
	padding: 25px;
}

#nav1 ul li:hover{
	background: #056798;
    transition: all ease-in-out 0.25s;
    box-shadow: 0 0 4px 1px #000;
}

.login {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url('../assets/login.svg') no-repeat center;
    background-size: cover;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.sub-menu-list {
    display: none;
    position: absolute;
    left: -39px;
    top: 70px;
}

.sub-menu-list__item {
    background: #6fbfff;
    display: block;
}

#menu {
    position: relative;
}

#menu:hover .sub-menu-list{
    display: flex;
}